.TodoInsert {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #495057;
  input {
    background: none;
    outline: none;
    border: none;
    padding: 0.5rem;
    font-size: 1.125rem;
    line-height: 1.5;
    color: white;
    &::-webkit-input-placeholder {
      color: #dee2e6;
    }
    &:-ms-input-placeholder {
      color: #dee2e6;
    }
    &::-ms-input-placeholder {
      color: #dee2e6;
    }
    &::placeholder {
      color: #dee2e6;
    }
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  button {
    background: none;
    outline: none;
    border: none;
    background: #868e96;
    color: white;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
    -webkit-transition: 0.1s background ease-in;
    transition: 0.1s background ease-in;
    &:hover {
      background: #adb5bd;
    }
  }
}
